# Secret keys and passwords that will be injected into the build process by secrets.gradle

## Release signing properties
## See https://developer.android.com/studio/publish/app-signing.html
#storePassword=
#keyPassword=
#keyAlias=
#storeFile=
